::-webkit-scrollbar {
	display: none;
}
@-moz-document url-prefix() {
	html,body{scrollbar-color: transparent transparent;scrollbar-width: none;
	margin-right:-17px!important;
	}
}

html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div{
	width: 100%;
	height: 100vh;
}
